body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; 
    color: #fff;
    padding: 2%;
    text-align: center;
}

.container {
    max-width: 80%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 50%;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-left: 360%;
    font-size: larger;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: orange; 
}
.contact-box a {
    color: black;
}


.contact-text{
    display: flex;
    text-align: left;
    font-size: x-large;
    font-family:Verdana, Tahoma, sans-serif;
}

.contact-logo{
    display: flex;
    text-align: center;
    align-items:center;
    font-size: 40px;
    justify-content: center;
    margin-right: 100px;
}

i{
    padding-left: 8rem;
} 
