body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; 
    color: #fff;
    padding: 2%;
    text-align: center;
}

.container {
    max-width: 80%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 50%;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-left: 360%;
    font-size: larger;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
    color: orange; 
}
.contact-box a {
    color: black;
}


.contact-text{
    display: flex;
    text-align: left;
    font-size: x-large;
    font-family:Verdana, Tahoma, sans-serif;
}

.contact-logo{
    display: flex;
    text-align: center;
    align-items:center;
    font-size: 40px;
    justify-content: center;
    margin-right: 100px;
}

i{
    padding-left: 8rem;
} 
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; 
}

.section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ccc;
    margin: 10px 0;
}
.pdp {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.pdp img {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

.pres{
    display: flex;
}
.pres h2{
    margin-left: 10%;
}
.section img{
    display: block;
    margin: 0 auto;
}
